.borderRotation_dark_mode {
  position: relative;
  background: none;
  border: 0;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  cursor: pointer;
}

.borderRotation_dark_mode:before {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 100%;
  border: 2px dashed limegreen;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.test {
  animation: rotate2 2s linear infinite;
  animation-play-state: paused;
}
.test:hover {
  animation-play-state: running;
  
}
@keyframes rotate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
