@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
/* body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #000000;
  color: #ffffff;
  height: 100vh;
}

label {
  color: #ffffff;
  font-size: small;
} */

/* input {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 8px 10px;
  margin-top: 5px;
  margin-bottom: 10px;
} */
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  /* .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #c28801;
  } */

  .scrollbar::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 100vh;
    border: 1px solid #ffffff;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #dfcbdb;
  }
}

.shake {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.2s both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}